@import "compass/css3/box-shadow";
$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$custom-font-path: "fonts/";

// Import the fonts
@font-face {
  font-family: 'Avant Garde';
  src: url('#{$custom-font-path}itcavantgardestd-bk-webfont.eot');
  src: url('#{$custom-font-path}itcavantgardestd-bk-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$custom-font-path}itcavantgardestd-bk-webfont.woff') format('woff'),
       url('#{$custom-font-path}itcavantgardestd-bk-webfont.ttf') format('truetype'),
       url('#{$custom-font-path}itcavantgardestd-bk-webfont.svg') format('svg');
}

$brand-primary:         #d83552;
$navbar-default-bg: white;

$font-family-sans-serif:  'Avant Garde', "Univers", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       "Century School Book", Georgia, "Times New Roman", Times, serif;

// Carousel
// ------------------------

$carousel-text-shadow:                        0 0 0 #222;

$carousel-control-color:                      #fff;
$carousel-control-width:                      15%;
$carousel-control-opacity:                    .5;
$carousel-control-font-size:                  100px;

$carousel-indicator-active-bg:                #999;
$carousel-indicator-border-color:             #999;

$carousel-caption-color:                      #fff;

@import 'sass-bootstrap/lib/bootstrap';

.navbar {
  border-color: #fff;
  border-bottom: 5px solid #fff;
}

#navbar-collapse-style {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.header-logo {
  text-align: center;
}

#contact {
  text-align: center;
  text-transform: uppercase;
  a {
    color: $gray-light;
  }
}

//
// Carousel
// --------------------------------------------------

h1.carousel {
  color: $gray-light;
  letter-spacing: -1px;
  background: rgb(255, 255, 255); /* fallback color */
  background: rgba(255, 255, 255, 0.7);
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 18px;
}

// Wrapper for the slide container and indicators
.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;

  > .item {
    display: none;
    position: relative;
    @include transition(.6s ease-in-out left);

    // Account for jankitude on images
    > img,
    > a > img {
      @include img-responsive();
      line-height: 1;
    }
  }

  > .active,
  > .next,
  > .prev { display: block; }

  > .active {
    left: 0;
  }

  > .next,
  > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  > .next {
    left: 100%;
  }
  > .prev {
    left: -100%;
  }
  > .next.left,
  > .prev.right {
    left: 0;
  }

  > .active.left {
    left: -100%;
  }
  > .active.right {
    left: 100%;
  }

}

// Left/right controls for nav
// ---------------------------

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $carousel-control-width;
  @include opacity($carousel-control-opacity);
  font-size: $carousel-control-font-size;
  color: $carousel-control-color;
  text-align: center;
  text-shadow: $carousel-text-shadow;
  // We can't have this transition here because webkit cancels the carousel
  // animation if you trip this while in the middle of another animation.

  // Set gradients for backgrounds
  &.left {
    @include gradient-horizontal($start-color: rgba(0,0,0,.5), $end-color: rgba(0,0,0,.0001));
  }
  &.right {
    left: auto;
    right: 0;
    @include gradient-horizontal($start-color: rgba(0,0,0,.0001), $end-color: rgba(0,0,0,.5));
  }

  // Hover/focus state
  &:hover,
  &:focus {
    color: $carousel-control-color;
    text-decoration: none;
    @include opacity(.9);
  }

  // Toggles
  .icon-prev,
  .icon-next,
  .glyphicon-chevron-left,
  .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    display: inline-block;
  }
  .icon-prev,
  .icon-next {
    width:  20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    font-family: serif;
  }

  .icon-prev {
    &:before {
      content: '\2039';// SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039)
    }
  }
  .icon-next {
    &:before {
      content: '\203a';// SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A)
    }
  }
}

// Optional indicator pips
//
// Add an unordered list with the following class and add a list item for each
// slide your carousel holds.

.carousel-indicators {
  position: absolute;
  bottom: 0px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    width:  10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 2px solid $carousel-indicator-border-color;
    border-radius: 10px;
    cursor: pointer;
  }
  .active {
    margin: 0;
    width:  12px;
    height: 12px;
    background-color: $carousel-indicator-active-bg;
  }
}

// Optional captions
// -----------------------------
// Hidden by default for smaller viewports
.carousel-caption {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  left: 60%;
  right: 5%;
  color: $carousel-caption-color;
  text-align: center;
  text-shadow: $carousel-text-shadow;
  & .btn {
    text-shadow: none; // No shadow for button elements in carousel-caption
  }
}


// Scale up controls for tablets and up
@media screen and (min-width: $screen-tablet) {

  // Scale up the controls a smidge
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }

  // Show and left align the captions
  .carousel-caption {
    left: 60%;
    right: 5%;
    padding-bottom: 0px;
  }

  // Move up the indicators
  .carousel-indicators {
    bottom: 0px;
  }
}

.photograph {
    padding: 7px;
    border: 2px solid darken($gray-lighter, 5%);
    box-shadow: 3px 3px 7px $gray;
    @include rotate(-5deg);
}

.photograph2 {
    padding: 7px;
    background: #FFF;
    border: 2px solid darken($gray-lighter, 5%);
    // box-shadow: 3px 3px 3px $gray-light, -3px 3px 3px $gray-light, 3px -3px 3px $gray-light, -3px -3px 3px $gray-light;
    box-shadow: 3px 3px 7px $gray;
    @include rotate(14deg);
}

.photograph3 {
    padding: 7px;
    background: #FFF;
    border: 2px solid darken($gray-lighter, 5%);
    // box-shadow: 3px 3px 3px $gray-light, -3px 3px 3px $gray-light, 3px -3px 3px $gray-light, -3px -3px 3px $gray-light;
    box-shadow: 3px 3px 7px $gray;
    @include rotate(5deg);
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 150px;
    padding-bottom: 70px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 735px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
    .navbar-nav > li:last-child {
      padding-right: 50px;
    }
    .navbar-nav > li > a {
      padding-top: 5px;
      padding-bottom: 5px;
      text-transform: uppercase;
    }
}

.navbar .navbar-header {
  text-align: center;
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    button {
      border: 0;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      border-radius: 0;
      padding-left: 100px;
      padding-right: 100px;
    }

  }
}
.navbar-toggle {
  float: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #FFF;
}

.no-top-margin {
    margin-top: 0;
}
.add-bottom-padding {
    padding-bottom: 20px;
}

// .navbar-fixed-top {
//   max-width: 1024px;
// }
