---
title: About
keywords: 'makeup artist, makeup, wedding makeup, wedding, professional makeup artist, cosmetologist, cosmetology, nina, nina wray, wray, wraybeauty, wray beauty, beauty, headshots, actor makeup, actress makeup, performance makeup, headshot makeup, editorial, editorial makeup, Makeup New York, Makeup New Jersey, makeup lessons, personal shopper, makeup personal shopper'
description: 'I am warm, friendly and genuinely excited about each one of my clients. Whether you want to feel fabulous for a night out, create a time efficient look for your workday, or want the look that is going to give you the perfect pictures, Wray Beauty can help.'
level: ../
---
<div class="row">
  <div class="col-xs-12">
    <h1 class="no-top-margin">About</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <img class="img-responsive" src="<%= @item[:level] %>images/about-nina-wray-makeup-artist.jpg" alt="Nina Wray Makeup Artist Photo 1" />
  </div>
  <div class="col-xs-6">
    <img class="img-responsive" src="<%= @item[:level] %>images/wedding-makeup-artist1.jpg" alt="Nina Wray Makeup Artist Photo 2" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Making Beauty and Confidence Your Reality</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Wray Beauty technically began when I was a teenager experimenting with makeup in front of my bedroom mirror. It has since become a dream career of helping others achieve the skills and confidence to look and feel their best.</p>
    <p>I’m still consistently trying new products (much to the dismay of my over-packed shelves) and talking about the best ones with whoever wants to listen. I’ve combined my love of makeup and the art of application with my passion for people and creating a fun, comfortable atmosphere.  My favorite part of the job is not only helping you look your best, but also teaching how you can do this for yourself on a daily basis.</p>
    <p>I’m warm, friendly and genuinely excited about each one of my clients. Whether you want to feel fabulous for a night out, create a time efficient routine for your workday, or want the look that’s going to give you the perfect pictures; Wray Beauty can help.  As a bonus you’re guaranteed to have a lot of fun in the process.</p>
  </div>
</div>

<div class="row add-bottom-padding">
  <div class="col-xs-12">
    <!-- <img class="img-responsive" src="<%= @item[:level] %>images/capezio-halloween-red-devil.jpg" alt="The Complete Package Capezio Halloween Red Devil Photo" /> -->
  </div>
</div>
