---
title: Contact
keywords: 'makeup artist, makeup, wedding makeup, wedding, professional makeup artist, cosmetologist, cosmetology, nina, nina wray, wray, wraybeauty, wray beauty, beauty, headshots, actor makeup, actress makeup, performance makeup, headshot makeup, editorial, editorial makeup, Makeup New York, Makeup New Jersey, makeup lessons, personal shopper, makeup personal shopper'
description: 'Interested in finding out more? Want to schedule an appointment? Find all our contact information right here: Phone, Email, and a Convenient Contact Form.'
level: ../
---
<div class="row">
  <div class="col-xs-12">
    <h1 class="no-top-margin">Contact</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- <img class="img-responsive" src="<%= @item[:level] %>images/Makeup-Brush.jpg" alt="Makeup Brush on White Background by Trostle" /> -->
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3 class="small-bottom-margin">Thank you so much for visiting.</h3>
    <h3 class="no-top-margin">Get in touch today.</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>If you'd like more information on the services available or would like to schedule an appointment, please send us a quick request by filling in the form below. You can also send us an email, or give us a call, whatever's easiest for you. </p>
    <p class="vcard">
      <span class="email">
        <a href="mailto:<%= @site.config[:email] %>?subject=Hello There"><%= @site.config[:email] %></a>
      </span>
      <br />
      <span class="tel"><a href="tel:<%= @site.config[:phonelink] %>"><%= @site.config[:phone] %></a></span>
      <br />
      <span class="adr">
        <span class="locality"><%= @site.config[:city] %></span><!-- , <span class="country-name"><%= @site.config[:country] %></span> -->
      </span>
    </p>
    <iframe src="http://www.qontacto.com/f/523bb215a2f19c83b300000c" data-aem="wraybeauty@gmail.com" width="100%" height="539px" style="width:100%;height:539px;border:0;"></iframe>
  </div>
</div>

<div class="row add-bottom-padding">
  <div class="col-xs-12">
    <!-- <img class="img-responsive" src="<%= @item[:level] %>images/capezio-halloween-red-devil.jpg" alt="The Complete Package Capezio Halloween Red Devil Photo" /> -->
  </div>
</div>
