---
title: Contact
keywords: 'makeup artist, makeup, wedding makeup, wedding, professional makeup artist, cosmetologist, cosmetology, nina, nina wray, wray, wraybeauty, wray beauty, beauty, headshots, actor makeup, actress makeup, performance makeup, headshot makeup, editorial, editorial makeup, Makeup New York, Makeup New Jersey, makeup lessons, personal shopper, makeup personal shopper'
description: 'Interested in finding out more? Want to schedule an appointment? Find all our contact information right here: Phone, Email, and a Convenient Contact Form.'
level: ../
---
<div class="row">
  <div class="col-xs-12">
    <h1 class="no-top-margin">Contact</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <img class="img-responsive" src="<%= @item[:level] %>images/Makeup-Brush.jpg" alt="Makeup Brush on White Background by Trostle" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Thank you so much for visiting. Get in touch today.</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>If you'd like more information on the services available or would like to schedule an appointment, please send us a quick request by filling in the form below. You can also send us an email, or give us a call, whatever's easiest for you. </p>
    <p class="vcard">
      <span class="email">
        <a href="mailto:<%= @site.config[:email] %>?subject=Hello There"><%= @site.config[:email] %></a>
      </span>
      <span class="tel"><a href="tel:<%= @site.config[:phonelink] %>"><%= @site.config[:phone] %></a></span>
      <br />
      <span class="adr">
        <span class="locality"><%= @site.config[:city] %></span><!-- , <span class="country-name"><%= @site.config[:country] %></span> -->
      </span>
    </p>
    <iframe src="http://www.qontacto.com/f/523bb215a2f19c83b300000c" data-aem="wraybeauty@gmail.com" width="100%" height="539px" style="width:100%;height:539px;border:0;"></iframe>
  </div>
</div>

<div class="row add-bottom-padding">
  <div class="col-xs-12">
    <!-- <img class="img-responsive" src="<%= @item[:level] %>images/capezio-halloween-red-devil.jpg" alt="The Complete Package Capezio Halloween Red Devil Photo" /> -->
  </div>
</div>









<!-- The Following Pictures are used on the website and are Licensed under Creative Commons from their owners.
==============================================================================================================

<a href="http://www.flickr.com/photos/trostle/6848775772/" title="Makeup Brush on White Background by Trostle, on Flickr"><img src="http://farm8.staticflickr.com/7079/6848775772_5c67df01f3_o.jpg" width="5184" height="3456" alt="Makeup Brush on White Background"></a>

<a href="http://www.flickr.com/photos/88092208@N06/9254431136/" title="Use These 4 Top Tips to Solve Your Oily Skin Problem When Applying Makeup - Choose A Matte Blush by UrbaneWomenMag, on Flickr"><img src="http://farm3.staticflickr.com/2809/9254431136_3c672eb44e_o.jpg" width="500" height="428" alt="Use These 4 Top Tips to Solve Your Oily Skin Problem When Applying Makeup - Choose A Matte Blush"></a>

<a href="http://www.flickr.com/photos/88092208@N06/9771129725/" title="11 Bad Beauty Habits &amp; How You Can Beat Them For Good - Not Cleaning Makeup Applicators by UrbaneWomenMag, on Flickr"><img src="http://farm3.staticflickr.com/2888/9771129725_43847882e7_o.jpg" width="500" height="299" alt="11 Bad Beauty Habits &amp; How You Can Beat Them For Good - Not Cleaning Makeup Applicators"></a>

<a href="http://www.flickr.com/photos/88092208@N06/9251652847/" title="Use These 4 Top Tips to Solve Your Oily Skin Problem When Applying Makeup - Eye Liner And Eye Shadow by UrbaneWomenMag, on Flickr"><img src="http://farm8.staticflickr.com/7312/9251652847_f61f273e90_o.jpg" width="500" height="388" alt="Use These 4 Top Tips to Solve Your Oily Skin Problem When Applying Makeup - Eye Liner And Eye Shadow"></a>

<a href="http://www.flickr.com/photos/ally_m/7021490777/" title="Makeup Artistry by Ally Mauro, on Flickr"><img src="http://farm8.staticflickr.com/7252/7021490777_9c706d4763_o.jpg" width="2700" height="2700" alt="Makeup Artistry"></a>

<a href="http://www.flickr.com/photos/huangjiahui/4530231005/" title="Untitled by huangjiahui, on Flickr"><img src="http://farm5.staticflickr.com/4039/4530231005_3aca02ec27_o.jpg" width="1280" height="853" alt="Untitled"></a>

<a href="http://www.flickr.com/photos/88092208@N06/9613625344/" title="7 Common Mistakes Women Make When Applying Makeup - Penciling On The Eyebrows by UrbaneWomenMag, on Flickr"><img src="http://farm4.staticflickr.com/3771/9613625344_b43a3b5c4b_o.jpg" width="500" height="242" alt="7 Common Mistakes Women Make When Applying Makeup - Penciling On The Eyebrows"></a>

<a href="http://www.flickr.com/photos/88092208@N06/9770920551/" title="11 Bad Beauty Habits &amp; How You Can Beat Them For Good - Makeup Sharing by UrbaneWomenMag, on Flickr"><img src="http://farm8.staticflickr.com/7397/9770920551_5f4195707a_o.jpg" width="500" height="333" alt="11 Bad Beauty Habits &amp; How You Can Beat Them For Good - Makeup Sharing"></a>

<a href="http://www.flickr.com/photos/jhaymesisvip/6299232261/" title="DSC07853 by Jhaymesisviphotography, on Flickr"><img src="http://farm7.staticflickr.com/6055/6299232261_b9070cdd16_o.jpg" width="3872" height="2592" alt="DSC07853"></a>

==============================================================================================================
-->
