---
title: Headshots Makeup
keywords: 'makeup artist, makeup, professional makeup artist, cosmetologist, cosmetology, nina, nina wray, wray, wraybeauty, wray beauty, beauty, actor makeup, natural makeup, you on a good day, performance makeup, makeup lessons, actor identity, actor branding, actor headshots, headshots, headshot photography, headshot makeup, headshot makeup artist, male actor makeup, female actor makeup'
description: 'From years of experience as an actor and makeup artist I know the importance of a great headshot. We will find the look that shows off everything that is great about you so you can work it in front of the camera and get that perfect shot.'
level: ../
---
<div class="row">
  <div class="col-xs-12">
    <h1 class="no-top-margin">Headshots</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <img class="img-responsive" src="<%= @item[:level] %>images/capezio-beauty-frame1-flipped.jpg" alt="Headshots Capezio Beauty Frame Photo 1" />
  </div>
  <div class="col-xs-6">
    <img class="img-responsive" src="<%= @item[:level] %>images/capezio-beauty-frame2.jpg" alt="Headshots Capezio Beauty Frame Photo 2" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Capture Your Confidence</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>From years of experience as an actor and makeup artist I know the importance of a great headshot. You want to go into your photo session knowing that you look your best in order to confidently share your personality with the camera.  It’s most important that we achieve a look that not only looks great on an 8 X 10 but one that you can recreate for the audition room. Together we’ll find that look that shows off everything that’s great about you so you can work it in front of the camera and get that perfect shot.</p>
    <p>*Manhattan/North Jersey: makeup can be done at your residence or your photographer’s studio. If being done in your home please account for your travel time door to door.</p>
    <ul>
      <li>$100-makeup (allow 45min. for application)</li>
      <li>$125-makeup and hair (allow 1 hour for application and hair)</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Customer Testimonial:</h3>
  </div>
</div>
<div class="row add-bottom-padding">
  <div class="col-xs-12">
    <blockquote>
      <p>"Having worked with a few dozen makeup artists in my life, I have to say Nina is one of the coolest and easiest to work with. She's extremely professional and listens to what you want out of a shoot, and gives you exactly that--without compromising her own creativity and eye for beauty. She does superb natural makeup too, which is ideal for headshots. I'm definitely using her the next time I need to get new shots done."</p>
      <p>-Misha Calvert</p>
    </blockquote>
    <img class="img-responsive" src="<%= @item[:level] %>images/capezio-beauty4.jpg" alt="Headshots Capezio Beauty Photo 4" />
  </div>
</div>
