---
title: Home
keywords: 'makeup artist, makeup, wedding makeup, wedding, professional makeup artist, cosmetologist, cosmetology, nina, nina wray, wray, wraybeauty, wray beauty, beauty, headshots, actor makeup, actress makeup, performance makeup, headshot makeup, editorial, editorial makeup, Makeup New York, Makeup New Jersey, makeup lessons, personal shopper, makeup personal shopper'
description: 'WrayBeauty: Your makeup will be perfect every time. Professional, beautiful, successful. Weddings, parties, private events. Find out what makes us different and better than the rest.'
---
<div class="row">
  <div class="col-sm-8">
    <a href="/about-makeup-artist/"><img class="img-responsive" src="<%= @item[:level] %>images/Makeup-Artistry.jpg" alt="Makeup Artistry by Ally Mauro" /></a>
  </div>
  <div class="col-sm-4">
    <a href="/wedding-makeup/"><img class="img-responsive" src="<%= @item[:level] %>images/wedding-bride-makeup2.jpg" alt="Wray Beauty Wedding Bride Makeup Photo 2" /></a>
  </div>
</div>
<div class="row add-bottom-padding">
  <div class="col-sm-4 col-xs-12">
    <div class="row add-bottom-padding">
      <a href="/about-makeup-artist/">
        <img class="img-responsive" src="<%= @item[:level] %>images/logo-nina-wray-white.jpg" alt="Wray Beauty Logo Nina Wray Makeup Artist" />
        <img class="img-responsive" src="<%= @item[:level] %>images/logo-nina-wray-black.jpg" alt="Wray Beauty Logo Nina Wray Makeup Artist" />
      </a>
    </div>
    <div class="row">
      <a href="/contact-makeup-artist/">
        <img class="img-responsive" src="<%= @item[:level] %>images/Brushes.jpg" alt="Not Cleaning Makeup Applicators by UrbaneWomenMag" />
      </a>
    </div>
  </div>
  <div class="col-sm-8 col-xs-12">
    <a href="/wedding-makeup/"><img class="img-responsive" src="<%= @item[:level] %>images/wedding-flowers.jpg" alt="Wray Beauty Wedding Flowers Makeup Photo" /></a>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-xs-6">
    <a href="/headshots-makeup/"><img class="img-responsive" src="<%= @item[:level] %>images/kg-jamie-evening-makeup2.jpg" alt="Wray Beauty KG Jamie Evening Makeup Photo 2" /></a>
    <a href="/headshots-makeup/"><img class="img-responsive" src="<%= @item[:level] %>images/kg-jillian-evening-makeup3.jpg" alt="Wray Beauty KG Jillian Evening Makeup Photo 3" /></a>
  </div>
  <div class="col-sm-4 col-xs-6">
    <a href="/headshots-makeup/"><img class="img-responsive" src="<%= @item[:level] %>images/kg-lily-natural-makeup2.jpg" alt="Wray Beauty KG Lily Natural Makeup Photo 2" /></a>
    <a href="/headshots-makeup/"><img class="img-responsive" src="<%= @item[:level] %>images/kg-sarah-natural-makeup4.jpg" alt="Wray Beauty KG Sarah Natural Makeup Photo 4" /></a>
  </div>
  <div class="col-sm-4 col-xs-0">
    <div class="row">
      <a href="/other-services-makeup/">
        <img class="img-responsive" src="<%= @item[:level] %>images/Blush-Palette.jpg" alt="Untitled by huangjiahui" />
      </a>
    </div>
    <div class="row">
      <a href="/other-services-makeup/">
        <img class="img-responsive" src="<%= @item[:level] %>images/Makeup-Table.jpg" alt="Makeup Sharing by UrbaneWomenMag" />
      </a>
    </div>
  </div>
</div>

<!-- <div class="row"> -->
  <!-- <div class="col-xs-12"> -->
    <!-- <img class="img-responsive" src="images/comingsoon.jpg" alt="WrayBeauty.com Coming Soon" /> -->
  <!-- </div> -->
<!-- </div> -->
