---
title: Home
keywords: 'makeup artist, makeup, wedding makeup, wedding, professional makeup artist, cosmetologist, cosmetology, nina, nina wray, wray, wraybeauty, wray beauty, beauty'
description: 'WrayBeauty: You makeup will be perfect every time. Professional, beautiful, successful. Weddings, parties, private events. Find out what makes us different and better than the rest.'
---

<div class="container">
  <div class="jumbotron">
    <img class="img-responsive" src="images/comingsoon.jpg" alt="WrayBeauty.com Coming Soon" />
  </div>

  <div class="footer">
    <h3>Contact</h3>
    <p class="vcard">
      <span class="email">
        <a href="mailto:<%= @site.config[:email] %>?subject=Hello There"><%= @site.config[:email] %></a>
      </span>
      <span class="tel"><a href="tel:<%= @site.config[:phonelink] %>"><%= @site.config[:phone] %></a></span>
      <span class="adr">
        <span class="locality"><%= @site.config[:city] %></span>, <span class="country-name"><%= @site.config[:country] %></span>
      </span>
    </p>
  </div>
</div>
