---
title: Home
keywords: 'makeup artist, makeup, wedding makeup, wedding, professional makeup artist, cosmetologist, cosmetology, nina, nina wray, wray, wraybeauty, wray beauty, beauty, headshots, actor makeup, actress makeup, performance makeup, headshot makeup, editorial, editorial makeup, Makeup New York, Makeup New Jersey, makeup lessons, personal shopper, makeup personal shopper'
description: 'WrayBeauty: Your makeup will be perfect every time. Professional, beautiful, successful. Weddings, parties, private events. Find out what makes us different and better than the rest.'
---
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <a href="/wedding-makeup/">
        <img class="img-responsive" src="<%= @item[:level] %>images/wedding-flowers.jpg" alt="Wray Beauty Wedding Flowers Makeup Photo" />
        <div class="container">
          <div class="carousel-caption">
            <h1 class="carousel">Wedding</h1>
            <!-- <p class="lead">On your wedding day you want to look and feel your best. I pride myself in making your makeup application fun, supportive and professional. You’ll be picture perfect even when crying tears of joy.</p> -->
          </div>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="/headshots-makeup/">
        <img src="<%= @item[:level] %>images/Headshots-Makeup-Faces.jpg" alt="Wray Beauty Headshots Makeup Faces Image" />
        <div class="container">
          <div class="carousel-caption">
            <h1 class="carousel">Headshots</h1>
            <!-- <p class="lead">From years of experience as an actor and makeup artist I know the importance of a great headshot. We will find the look that shows off everything that is great about you so you can work it in front of the camera and get that perfect shot.</p> -->
          </div>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="/other-services-makeup/">
        <img src="<%= @item[:level] %>images/Makeup-Table-Pencils-Blush.jpg" alt="Wray Beauty Makeup Table Pencils Blush Image" />
        <div class="container">
          <div class="carousel-caption">
            <h1 class="carousel">Other Services</h1>
            <!-- <p class="lead">Wray Beauty offers a range of services from makeup lessons to personal shopping, as well as services for professional fashion, runway and editorial photo shoots.</p> -->
          </div>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="/about-makeup-artist/">
        <img src="<%= @item[:level] %>images/Makeup-Artistry.jpg" alt="Makeup Artistry by Ally Mauro" />
        <div class="container">
          <div class="carousel-caption">
            <h1 class="carousel">About Us</h1>
            <!-- <p class="lead">I am warm, friendly and genuinely excited about each one of my clients. Whether you want to feel fabulous for a night out, create a time efficient look for your workday, or want the look that is going to give you the perfect pictures, Wray Beauty can help.</p> -->
          </div>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="/contact-makeup-artist/">
        <img src="<%= @item[:level] %>images/Blush-Palette.jpg" alt="Untitled by huangjiahui" />
        <div class="container">
          <div class="carousel-caption">
            <h1 class="carousel">Get In Touch</h1>
            <!-- <p class="lead">Interested in finding out more? Want to schedule an appointment? Find all our contact information right here: Phone, Email, and a Convenient Contact Form.</p> -->
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
