---
title: Other Services Makeup
keywords: 'makeup artist, makeup, wedding makeup, wedding, professional makeup artist, cosmetologist, cosmetology, nina, nina wray, wray, wraybeauty, wray beauty, beauty'
description: 'WrayBeauty: Your makeup will be perfect every time. Professional, beautiful, successful. Weddings, parties, private events. Find out what makes us different and better than the rest.'
level: ../
---
<div class="row">
  <div class="col-xs-12">
    <h1 class="no-top-margin">Other Services</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <img class="img-responsive" src="<%= @item[:level] %>images/kg-sarah-natural-makeup3.jpg" alt="Other Services KG Sarah Natural Makeup Photo 3" />
  </div>
  <div class="col-xs-6">
    <img class="img-responsive" src="<%= @item[:level] %>images/capezio-leotard-pink.jpg" alt="Other Services Capezio Leotard Pink Photo" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Bag Inspection and Makeup Lesson</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Together we’ll go through you makeup bag and decide what’s working for you and what’s working against you.  Next, we’ll create a look that you can easily achieve on you own with a combination of your products and some help from my extensive makeup kit. I’ll apply makeup to half of your face and-with my guidance- you’ll recreate the look on the other side.  We’ll work together until we get it right. By the end of our session you’ll feel confident in your own application abilities. I’ll also give you a list of products you can purchase to fill out your makeup bag (I’m totally unbiased when it comes to brand, I just fill you in on what I know works).</p>
    <ul>
      <li>$150 (allow at least two hours)</li>
    </ul>
  </div>
</div>

<div class="row add-bottom-padding">
  <div class="col-xs-12">
    <img class="img-responsive" src="<%= @item[:level] %>images/kg-sarah-evening-makeup2.jpg" alt="Other Services KG Sarah Evening Makeup Photo 2" />
  </div>
</div>
