---
title: Other Services Makeup
keywords: 'makeup artist, makeup, wedding makeup, wedding, professional makeup artist, cosmetologist, cosmetology, nina, nina wray, wray, wraybeauty, wray beauty, beauty, makeup lesson, makeup bag inspection, makeup personal shopping, the complete package, makeup classes, group makeup classes editorial makeup, studio makeup, fashion makeup, couture makeup, New York professional makeup artist, New Jersey Professional makeup artist'
description: 'Wray Beauty offers a range of services from makeup lessons to personal shopping, as well as services for professional fashion, runway and editorial photo shoots.'
level: ../
---
<div class="row">
  <div class="col-xs-12">
    <h1 class="no-top-margin">Other Services</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <img class="img-responsive" src="<%= @item[:level] %>images/kg-sarah-natural-makeup3.jpg" alt="Other Services KG Sarah Natural Makeup Photo 3" />
  </div>
  <div class="col-xs-6">
    <img class="img-responsive" src="<%= @item[:level] %>images/kg-jillian-natural-makeup1.jpg" alt="Other Services KG Jillian Natural Makeup Photo 1" />
    <img class="img-responsive" src="<%= @item[:level] %>images/kg-jamie-natural-makeup1.jpg" alt="Other Services KG Jamie Natural Makeup Photo 1" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Bag Inspection and Makeup Lesson</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Together we’ll go through you makeup bag and decide what’s working for you and what’s working against you.  Next, we’ll create a look that you can easily achieve on you own with a combination of your products and some help from my extensive makeup kit. I’ll apply makeup to half of your face and-with my guidance- you’ll recreate the look on the other side.  We’ll work together until we get it right. By the end of our session you’ll feel confident in your own application abilities. I’ll also give you a list of products you can purchase to fill out your makeup bag (I’m totally unbiased when it comes to brand, I just fill you in on what I know works).</p>
    <ul>
      <li>$150 (allow at least two hours)</li>
    </ul>
  </div>
</div>

<div class="row add-bottom-padding">
  <div class="col-xs-12">
    <img class="img-responsive" src="<%= @item[:level] %>images/kg-sarah-evening-makeup2.jpg" alt="Other Services KG Sarah Evening Makeup Photo 2" />
  </div>
</div>

<!-- <div class="row"> -->
  <!-- <div class="col-xs-6"> -->
    <!-- <img class="img-responsive" src="<%= @item[:level] %>images/capezio-halloween-green-witch1.jpg" alt="The Complete Package Capezio Halloween Green Witch Photo 1" /> -->
  <!-- </div> -->
  <!-- <div class="col-xs-6"> -->
    <!-- <img class="img-responsive" src="<%= @item[:level] %>images/capezio-leotard-green.jpg" alt="The Complete Package Capezio Leotard Green Photo" /> -->
  <!-- </div> -->
<!-- </div> -->
<div class="row">
  <div class="col-xs-12">
    <h3>The Complete Package</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Ready for a day of beauty and fun? First we’ll go through your makeup bag and toss whatever isn’t working for you. I’ll fill you in on what colors and products work best for your skin tone and any skin conditions you have. From there we’ll head out on a makeup shopping adventure (I can easily work within your budget). When we’re finished your makeup bag will perfectly tailored to you. Next we’ll head back and try it all out. You can choose to have a full application done by me with detailed instructions or I can apply makeup to half of your face and you can recreate the same look on the other side. </p>
    <ul>
      <li>$350. – Full Day (about 6 hours but there is no time limit)</li>
      <li>$400 – Split days (You can choose to split up the service over two days. $200 is due on each day of service. Days so not need to be consecutive.)</li>
    </ul>
    <p>*Group rates are available. Feel free to <a href="#contact">contact</a> me for more information.</p>
  </div>
</div>

<div class="row add-bottom-padding">
  <div class="col-xs-12">
    <img class="img-responsive" src="<%= @item[:level] %>images/kg-lily-natural-makeup3.jpg" alt="Other Services KG Lily Natural Makeup Photo 3" />
  </div>
</div>
