---
title: The Complete Package Makeup
keywords: 'makeup artist, makeup, wedding makeup, wedding, professional makeup artist, cosmetologist, cosmetology, nina, nina wray, wray, wraybeauty, wray beauty, beauty'
description: 'WrayBeauty: Your makeup will be perfect every time. Professional, beautiful, successful. Weddings, parties, private events. Find out what makes us different and better than the rest.'
level: ../
---
<div class="row">
  <div class="col-xs-12">
    <h1 class="no-top-margin">The Complete Package</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <img class="img-responsive" src="<%= @item[:level] %>images/capezio-halloween-green-witch1.jpg" alt="The Complete Package Capezio Halloween Green Witch Photo 1" />
  </div>
  <div class="col-xs-6">
    <img class="img-responsive" src="<%= @item[:level] %>images/capezio-leotard-green.jpg" alt="The Complete Package Capezio Leotard Green Photo" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Everything You Need</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Ready for a day of beauty and fun? First we’ll go through your makeup bag and toss whatever isn’t working for you. I’ll fill you in on what colors and products work best for your skin tone and any skin conditions you have. From there we’ll head out on a makeup shopping adventure (I can easily work within your budget). When we’re finished your makeup bag will perfectly tailored to you. Next we’ll head back and try it all out. You can choose to have a full application done by me with detailed instructions or I can apply makeup to half of your face and you can recreate the same look on the other side. </p>
    <ul>
      <li>$350. – Full Day (about 6 hours but there is no time limit)</li>
      <li>$400 – Split days (You can choose to split up the service over two days. $200 is due on each day of service. Days so not need to be consecutive.)</li>
    </ul>
    <p>*Group rates are available. Feel free to <a href="#contact">contact</a> me for more information.</p>
  </div>
</div>

<div class="row add-bottom-padding">
  <div class="col-xs-12">
    <img class="img-responsive" src="<%= @item[:level] %>images/capezio-halloween-red-devil.jpg" alt="The Complete Package Capezio Halloween Red Devil Photo" />
  </div>
</div>
