---
title: Wedding Makeup
keywords: 'makeup artist, makeup, wedding makeup, wedding, destination weddings, professional makeup artist, cosmetologist, cosmetology, nina, nina wray, wray, wraybeauty, wray beauty, beauty, bridal party, bridal makeup, brides, New York City, New Jersey'
description: 'On your wedding day you want to look and feel your best. I pride myself in making your makeup application fun, supportive and professional. You’ll be picture perfect even when crying tears of joy.'
level: ../
---
<div class="row">
  <div class="col-xs-12">
    <h1 class="no-top-margin">Wedding</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <img class="img-responsive" src="<%= @item[:level] %>images/wedding-bride-makeup1.jpg" alt="Wedding Bride Makeup Photo 1" />
  </div>
  <div class="col-xs-6">
    <img class="img-responsive" src="<%= @item[:level] %>images/wedding-makeup-artist2.jpg" alt="Wedding Makeup Artist Photo 2" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Your Day to Dazzle</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Your Wedding day has arrived and you deserve to revel in every moment. It’s time to look and feel your best and let go of all the anxieties that come with planning such a momentous event. You want your makeup to enhance your natural beauty and give you confidence to mingle with your guests and dance the night away all while keeping your wedding day glow. I pride myself in making the application fun, supportive and professional even in the most hectic situations. You’ll be picture perfect even when crying tears of joy.  </p>
    <ul>
      <li>$225 – Bride</li>
      <li>$125-each additional person</li>
      <li>$75/hour for touch ups</li>
      <li>$95 –Consultation fee</li>
    </ul>
    <p>*For services outside of Manhattan and North/Central New Jersey or destination weddings please <a href="#contact">contact</a> me.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Customer Testimonial:</h3>
  </div>
</div>
<div class="row add-bottom-padding">
  <div class="col-xs-12">
    <blockquote>
      <p>“Nina made my wedding a dream come true with the exquisite makeup she provided for my mother and me. She not only made us both feel completely beautiful and well cared for but she explained the process and made us feel completely comfortable. She was extremely professional and provided quality work that all my guests wowed over. I could not have been happier with how my makeup looked for my wedding!! Both my mother and I were 100% satisfied. I highly recommend Nina to all who want a quality makeup artist.”</p>
      <p>-Anna Rose Meyerhoff</p>
    </blockquote>
    <img class="img-responsive" src="<%= @item[:level] %>images/wedding-just-married.jpg" alt="Wedding Just Married Photo 4" />
  </div>
</div>
